*{
	margin: 0;
	padding: 0;
}
ul li{
	list-style: none;
}
html{
	font-size: 26.27vw;
}
.KFC{
	background-image:url(../img/KFC01.png);
	background-size: 100% 1.275rem;
	width: 100%;
	height: inherit;
	background-repeat: no-repeat;
}
.KFC_top{
	display: flex;
	justify-content: space-between;
	padding-top: .17rem;
	color: white;
}
.KFC .icon-zuo{
	padding-left: .18rem;
	font-size: .22rem;
}
.KFC .KFC_top_r{
	display: flex;
	padding-right: .14rem;
}
.KFC .KFC_top_r span{
	padding-left: .15rem;
	font-size: .22rem;
}
/*  */
.KFC .KFC_ZJS{
	background: white;
	/* height: 2.31rem; */
	min-width: 3.55rem;
	margin: 0 .1rem;
	border-radius: .05rem;
	margin-top: .34rem;
	box-shadow: 0 0 .015rem red;
}
.KFC_ZJS .ZJS_Onetext{
	display: flex;
	justify-content: space-between;
	position: relative;
}
.ZJS_Onetext h3{
	font-size: .2rem;
	margin-top: .14rem;
	margin-left: .125rem;
}
.ZJS_Onetext img{
	width: .55rem;
	height: .56rem;
	position: absolute;
	bottom: 0.04rem;
	right: .1rem;
	box-shadow: 0 0 .015rem red;
}
/*  */
.ZJS_Twotext{
	margin-top: .045rem;
	color: #282828;
	font-size: .115rem;
}
.ZJS_Twotext .icon-songhuozhunshi{
	margin-left: .125rem;
	color: #e4a82e;
	vertical-align: middle;
}
.ZJS_Twotext .shu{
	color: #d6d7d9;
	margin-left: .04rem;
}
.ZJS_Twotext .icon-dui{
	vertical-align: middle;
	color: #c78c7a;
}
/*  */
.ZJS_Threetext{
	font-size: .125rem;
}
.ZJS_Threetext p{
	margin-left: .085rem;
	color: #b5b5b5;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.ZJS_Threetext .ZJS_Threetext_xia{
	display: flex;
	justify-content: space-between;
	margin-top: .085rem;
	margin-left: .125rem;
	margin-right: .1rem;
	padding-bottom: .13rem;
}
.ZJS_Threetext_xia_zuo{
	display: flex;
}
.ZJS_Threetext .ZJS_Threetext_xia_zuo span{
	height: .15rem;
	width: auto;
	border: 1px solid #ff94ad;
	display: inline-block;
	padding: 0.03rem 0.04rem;
	color: #ed4964;
	margin-right: .05rem;
}
.ZJS_Threetext_xia .icon-xiala{
	padding-top: 0.03rem;
}
/*  */
.KFC_Caidan{
	background: white;
    z-index: 10;
    float: left;
	width: 100%;
	box-sizing: border-box;
	height: 100%;
	position: sticky;
	top: 0;
}
.KFC_Caidan .KFC_diancai_{
	display: flex;
	justify-content: space-between;
	padding: 0 .165rem;
	padding-top: .085rem;
	border-bottom: 1px solid #eeeeee;
	line-height: .125rem;
}
.KFC_diancai_{
	background: white;
    z-index: 10;
    float: left;
    width: 100%;
    box-sizing: border-box;
}
.KFC_diancai_ .ul_header{
	display: flex;
	justify-content: space-around;
	font-size: .165rem;
}
.ul_header li{
	margin-right: .525rem;
	font-size: .165rem;
	color: #c3c3c3;
	text-align: center;
	height: .435rem;
	line-height: .435rem;
}
.ul_header li:nth-child(1){
	font-weight: 600;
	color: #3e3e3e;
	border-bottom: 2px solid #edd398;
}
.KFC_diancai_ .pingdan{
	text-align: center;
	height: .23rem;
	width: .69rem;
	line-height: .23rem;
	border: 1px solid #c2a758;
	color: #c2a758;
	border-radius: .15rem;
	margin-top: .09rem;
	font-size: .115rem;
}
/*  */
.KFC_xinpin_List{
	overflow-y: auto;
    float: left;
}
.KFC_diancai_two{
	height: 100%;
	
}
.KFC_xinpin{
	width: .8rem;
    overflow-y: auto;
    float: left;
}
.KFC_xinpin h6{
	text-align: center;
	height: .46rem;
	line-height: .46rem;
	font-size: .125rem;
}
.KFC_xinpin .ul_body{
	background: #eaeaea;
	font-size: .125rem;
	height: inherit;
	box-sizing: border-box;
}
.KFC_xinpin .ul_body li{
	color: #6b6b6b;
	line-height: 0.52rem;
    text-align: center;
}
/*  */
.KFC_xinpin_{
	flex: 1;
	position: relative;
}
.KFC_xinpin_ span{
	line-height: .435rem;
	width: 100%;
	display:inline-block;
	/* padding-left: .2rem; */
	font-size: .15rem;
	position: sticky;
	top: .0rem;
	background: white;
}
.KFC_xinpin_ .img_one{
	display: flex;
	padding-top: .44rem;
}
.KFC_xinpin_ .img_one:nth-child(2){
	padding-top:0;
}
.KFC_xinpin_ .img_one .img_{
	width: 1.08rem;
	height: 1.14rem;
}
.KFC_xinpin_ .img_two{
	padding-right: .22rem;
}
.KFC_xinpin_ .img_one h2{
	font-size: .18rem;
	width: 1.63rem;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.KFC_xinpin_ .img_one .img_two_text{
	font-size: .115rem;
	padding-top: .085rem;
	color: #a5a5a5;
}
.red_elv{
	display: flex;
	justify-content: space-between;
	padding-top: .165rem;
}
.red_elv p{
	color: ;
	font-size: .18rem;
}
.red_elv .elv{
	color: red;
	font-weight: 500;
}
.red_elv .icon-add-fill{
	color: #f6d063;
	line-height: .24rem;
}